<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert new beer</title>
<!-- bootstrap -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
	<h1>Insertion d'une bière</h1>

	<form action="#" th:action="${isEdit} ? @{/admin/update} : @{/admin/save-beer}" th:object="${beer}" method="post">
		<input th:if="${isEdit}" type="text"  class="form-control" th:field="*{id}" th:value="${beer.id}" hidden />

		<div class="form-group">   
			<label for="name" th:text="Nom"></label>
			<input type="text"  class="form-control" th:field="*{name}" />
		</div>
		
		<div class="form-group">   
			<label for="price" th:text="Prix"></label>
			<input type="number" min="0" value="0" step="0.05" class="form-control" th:field="*{price}" />
		</div>

		<div class="form-group">   
			<label for="stock" th:text="Stock"></label>
		   <input type="number" min="0" value="0" step="1" class="form-control" th:field="*{stock}" />
		</div>

	     <button type="submit" class="btn btn-primary">Enregistrer</button>
	</form>
</div>
<!--  js bootstrap dependencies -->
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>